<div id="drinks">
  <% @drinks.each do |drink| %>
    <%= image_tag drink.image.url(:thumb) %>
    <div class="box">
      <%= drink.brand %>
      <%= drink.num_ounces %>
      <%= drink.created_at.strftime("%m-%d, %H-%M") %>
      <%= drink.user.email if drink.user %>
      <%= link_to 'Show', drink %>
      <% if drink.user == current_user %>
        <%= link_to 'Edit', edit_drink_path(drink) %>
        <%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
