<p id="notice"><%= notice %></p>

<%= image_tag @drink.image.url(:medium) %>

<p>
  <strong>Brand:</strong>
  <%= @drink.brand %>
</p>

<p>
  <strong>Num ounces:</strong>
  <%= @drink.num_ounces %>
</p>

<p>
  <strong>Time of First Sip:</strong>
  <%= @drink.created_at.strftime("%m-%d, %H-%M") %>
</p>


<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
